html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  /* font-size: 100%;
  font: inherit; */
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #555f62;
  background-color: #f9fafa;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  font-style: normal;
}

.header {
  z-index: 100;
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #eef1f1;
  padding-left: 47px;
  padding-right: 47px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.full-header {
  z-index: 103;
  width: 100%;
  height: 100%;
  max-width: 1110px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
  grid-column-gap: 32px;
  position: relative;
}

.nav {
  display: flex;
  grid-column-gap: 32px;
  height: 100%;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
}

.nav-list {
  cursor: pointer;
  position: relative;
  padding: 10px;
  border-bottom: 2px solid transparent;
}

.nav-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #182cc0;
  transition: width 0.6s ease, left 0.6s ease;
}

.nav-list.active::before {
  width: 100%;
  left: 0;
}

.dropdown-content {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: -20px;
  right: 0;
  width: 102%;
  z-index: 102;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.6s ease-in-out;
}
.nav-list.active .dropdown-content {
  opacity: 1;
}

.dropdown-img-a {
  width: 190px;
  text-decoration: none;
}

.dropdown-image {
  display: block;
  width: 100%;
  position: relative;
}

.dropdown-item {
  padding: 12px 30px;
  cursor: pointer;
  font-weight: 700;
  width: 100%;
}

.header-btn {
  align-items: center;
  margin-left: auto;
  display: flex;
  grid-column-gap: 16px;
}
.background-div {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 250px;
  background-color: #fff;
  z-index: 100;
  transition: 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.background-div img {
  height: 100%;
  width: auto;
}
.nav-list.active ~ .background-div {
  opacity: 1;
  pointer-events: none;
}

.tbc-concept {
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 47px;
  padding-right: 47px;
}

.concept-banner,
.subscribe-text p,
.select-set,
.numbers-div,
/* .offers-section, */
.bank-div,
.footer-title,
.footer-body,
.footer-bottom {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.concept-banner {
  color: #fff;
  background-color: #000;
  border-radius: 6px;
  position: relative;
  min-height: 360px;
  overflow: hidden;
}

.concept-content {
  display: flex;
  flex-direction: column;
  z-index: 2;
  padding: 80px;
  position: relative;
}

.concept-text {
  height: 100%;
  justify-content: center;
  flex: 1;
  max-width: 450px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
  z-index: 3;
}

.concept-picture {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 0.7;
  border-radius: 6px;
  overflow: hidden;
  z-index: 1;
}

.concept-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscribe-btn {
  grid-column-gap: 6px;
  color: #fff;
  text-transform: uppercase;
  background-image: linear-gradient(15deg, #001682, #3240e5);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  display: flex;
  position: relative;
  cursor: pointer;
  background-color: #001682;
}

.subscribe-btn:hover {
  background-color: #3295ce;
  background-image: none;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.subscribe-text,
.mobile-bank,
.select-set,
.numbers
/* .offers-section  */ {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 47px;
  padding-right: 47px;
}

.mobile-bank {
  background-color: #fff;
}

.subscribe-text p {
  color: #141719;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
}

.select-title {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  display: flex;
}

.grid-cards {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.card {
  min-height: 256px;
  color: #fff;
  background-color: #141719;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}

.card-content {
  z-index: 2;
  height: 100%;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  display: flex;
  position: relative;
}

.card-image {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: 6px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s ease-in-out;
}

.card:hover .card-image img {
  transform: scale(1.03);
}

.card-long {
  grid-row: span 2;
}

.numbers-div {
  grid-column-gap: 30px;
  display: flex;
}

.numbers_item {
  grid-row-gap: 16px;
  background-color: #fff;
  border-radius: 8px;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  padding: 40px 48px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
}

.numbers-num {
  color: #141719;
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}

/* .offers-section {
  position: relative;
  margin: auto;
  overflow: hidden;
} */

/* .offers-title {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
  display: flex;
} */

.bank-div {
  min-height: 374px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  position: relative;
}

.bank-content {
  width: 55%;
  grid-row-gap: 16px;
  flex-direction: column;
  flex: none;
  align-items: flex-start;
  display: flex;
}

.bank-apps {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-wrap: wrap;
  margin-top: 8px;
  display: flex;
}

.app-btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #e1e4e5;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: flex;
}

.app-btn img {
  height: auto;
  max-width: 100%;
  display: inline-block;
}

.bank-img {
  max-height: 90%;
  object-fit: contain;
  object-position: 100% 100%;
  align-self: flex-end;
  position: absolute;
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

/* .offers-slider {
  display: flex;
  overflow: hidden;
}

.offers-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.offer {
  min-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
}

.offer img {
  width: 100%;
  border-radius: 10px;
}

.slide-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
} */

.link-arrow {
  grid-column-gap: 6px;
  color: #182cc0;
  text-transform: uppercase;
  flex: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  display: flex;
}

.card-arrow {
  grid-column-gap: 6px;
  color: #fff;
  text-transform: uppercase;
  flex: none;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  display: flex;
  text-decoration: underline;
}

.hover-gray:hover {
  color: #aeaeae;
  text-decoration: none;
}

.footer {
  padding-top: 60px;
  background-color: #fff;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer-title {
  padding-top: 45px;
  padding-bottom: 50px;
  padding-left: 47px;
  padding-right: 47px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-body {
  padding-bottom: 45px;
  padding-left: 47px;
  padding-right: 47px;
}

.footer-table {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.col-title,
.contact-title {
  color: #141719;
  padding-bottom: 24px;
  font-weight: 700;
}

.col-list {
  display: none; /* Hide by default */
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}
.col-list.open {
  display: flex; /* Show when open */
}

.contact-info {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
  font-style: normal;
  display: flex;
}

.contact-info a {
  grid-column-gap: 10px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  color: #555f62;
}

.contact-icon {
  justify-content: center;
  align-items: center;
  display: flex;
}

.social-icons {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-wrap: wrap;
  display: flex;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background-color: #f9fafa;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
  display: flex;
}

.footer-bottom {
  background-color: #fff;
  border-top: 1px solid #eef1f1;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 12px;
  padding-left: 47px;
  padding-right: 47px;
}

.bottom-content {
  grid-column-gap: 40px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.rights {
  grid-column-gap: 8px;
  align-items: center;
  display: flex;
}

.rights-logo {
  width: 21px;
  align-items: center;
  display: flex;
}

.footer-links {
  grid-column-gap: 35px;
  grid-row-gap: 8px;
  flex-wrap: wrap;
  align-items: center;
  display: flex;
}

.hover-blue:hover {
  transition: color 0.25s ease-in-out;
  color: #182cc0;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-skyblue:hover {
  transition: color 0.25s ease-in-out;
  color: #007aff;
}

.search {
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  padding: 8px;
  transition: color 0.25s;
  display: flex;
}

.arrow-button {
  width: 16px;
  height: 16px;
}

.lang {
  z-index: 5;
  position: relative;
}

.lang:hover {
  background-color: #eef1f1;
}

.lang-div {
  height: 36px;
  grid-column-gap: 4px;
  cursor: pointer;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 700;
  transition: background-color 0.25s ease-in-out;
  display: flex;
}

.dropdown-lang {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-lang .lang-item {
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 700;
}

.dropdown-lang .lang-item:hover {
  background-color: #ddd;
}

.lang:hover .dropdown-lang {
  display: block;
}

.globe-icon {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
}

.mobile-btn {
  grid-column-gap: 4px;
  color: #182cc0;
  text-transform: uppercase;
  border: 1px solid #182cc0;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33;
  text-decoration: none;
  transition: background-position 0.25s ease-in-out;
  display: none;
}

.mobile-btn:hover {
  background-color: #f9fafa;
}

.mobile-logo {
  display: none;
}

.burger-menu {
  z-index: 105;
  grid-row-gap: 5px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  transition: color 0.25s;
  display: none;
  position: relative;
}

.burger-line-1 {
  transform-origin: 100%;
  background-color: #555f62;
  border-radius: 1px;
  transition: 0.6s;

  transform-style: preserve-3d;
  width: 11px;
  height: 2px;
}
.burger-line-2 {
  width: 20px;
  height: 2px;
  background-color: #555f62;
  border-radius: 1px;
  transition: 0.6s;
}

.burger-line-3 {
  transform-origin: 100% 100%;
  background-color: #555f62;
  border-radius: 1px;
  transition: 0.6s;
  transform-style: preserve-3d;
  width: 15px;
  height: 2px;
}

.burger-menu.active .burger-line-1 {
  transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(-45deg)
    skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 20px;
  height: 2px;
}

.burger-menu.active .burger-line-2 {
  opacity: 0;
}

.burger-menu.active .burger-line-3 {
  transform: translateZ(0) scaleX(1) rotateX(0deg) rotateY(0deg) rotate(45deg)
    skew(0deg, 0deg);
  transform-style: preserve-3d;
  width: 20px;
  height: 2px;
}

.mobile-nav {
  display: none;
  z-index: 102;
  background-color: #f9fafa;
  flex-direction: column;
  padding-top: 80px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 0.6s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.mobile-nav.active {
  display: flex;
  opacity: 1;
  pointer-events: unset;
}
.mobile-inner {
  flex-direction: column;
  flex: 1;
  display: flex;
  overflow: auto;
  max-height: 100%;
}
.mobile-main {
  width: 100%;
  background-color: #fff;
  flex-direction: column;
  display: flex;
}
.mobile-dropdown {
  border-bottom: 1px solid #d1d5d6;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 32px;
  padding-left: 47px;
  padding-right: 47px;
}
.mobile-dropdown-toggle {
  width: 100%;
  max-width: 1110px;
  color: #141719;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 32px 0 0;
  font-size: 18px;
  font-weight: 700;
  display: flex;
}
.dropdown-line {
  width: 100%;
  height: 2px;
  transform-style: preserve-3d;
  background-color: #182cc0;
  border-radius: 1px;
  margin-bottom: -1px;
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scaleX(0);
  transition: 0.6s;
}
.dropdown-arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  transition: 0.6s;
}
.dropdown-arrow.active {
  transform: rotate(180deg);
}
.dropdown-list {
  max-height: 0;
  overflow: hidden;
  grid-row-gap: 16px;
  background-color: transparent;
  flex-direction: column;
  align-items: flex-start;
  transition: max-height 0.8s ease-in-out;
}

.dropdown-list.active {
  max-height: 500px;
}
.dropdown-arrow img {
  transition: transform 0.3s ease-in-out;
}
.dropdown-arrow.rotate img {
  transform: rotate(180deg);
}
.dropdown-list-inner {
  width: 100%;
  max-width: 1110px;
  grid-row-gap: 16px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
}
.dropdown-link {
  padding-right: 47px;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.25s ease-in-out;
  color: #555f62;
}
.offer-main {
  width: 100%;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.offer-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.swiper-bottom {
  display: flex;
  align-items: center;
  gap: 10px;
}

.scrollbar {
  flex: 1;
  height: 2px;
  background-color: #d1d5d6;
  border-radius: 1px;
  position: relative;
}

.scrollbar-drag {
  height: 100%;
  background: #182cc0;
  border-radius: 1px;
  transition: width 0.3s ease-in-out;
}

.offer-arrows {
  display: flex;
  align-items: center;
}

.nav-arrow {
  cursor: pointer;
  font-size: 24px;
  color: #182cc0;
  padding: 0 10px;
  transition: color 0.25s ease;
}

.nav-arrow.disabled {
  color: #a5aaac;
}

.swiper-container {
  position: relative;
  overflow: hidden;
}

.swiper {
  display: flex;
  transition: transform 0.3s ease-in-out;
  width: 100%;
}

.swiper-slide {
  flex-shrink: 0;
  width: 350px;
  margin-right: 30px;
  transition: transform 0.3s ease-in-out;
  height: 355px;
}

.product-card {
  border: 1px solid #e1e4e5;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  min-height: 355px;
}

.product-img {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover .product-img {
  transform: translateY(-5px);
}

.img-logo {
  position: absolute;
  top: 16px;
  right: 0;
  width: 78px;
  height: 56px;
  background-color: #fff;
  border-radius: 6px 0 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-content {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}
.section_offers-swiper {
  padding-top: 60px;
  padding-bottom: 60px;
  overflow: hidden;
  padding-left: 47px;
  padding-right: 47px;
}
.product-banner {
  height: 215px;
}

@media screen and (max-width: 991px) {
  .numbers,
  .subscribe-text,
  .mobile-bank,
  .section_offers-swiper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .numbers-div {
    flex-direction: column;
  }

  .tbc-concept {
    padding-bottom: 50px;
  }
  .tbc-concept,
  .subscribe-text,
  .mobile-bank,
  .mobile-dropdown,
  .header,
  .section_offers-swiper {
    padding-left: 45px;
    padding-right: 45px;
  }

  .concept-content {
    padding: 240px 45px 36px;
  }

  .bank-div {
    min-height: 300px;
  }

  .mobile-btn,
  .burger-menu,
  .mobile-nav {
    display: flex;
  }

  .app-btn,
  .top-lang,
  .nav,
  .background-div,
  .scrollbar {
    display: none;
  }
  .card-long {
    margin-right: 55px;
  }
  /* .header {
    padding-left: 0;
    padding-right: 0;
  } */

  .full-header {
    justify-content: space-between;
  }
  /* .offers-section, */
  .select-set,
  .footer-bottom,
  .footer-body,
  .footer-title,
  .offer-main {
    width: unset;
  }
  .card {
    min-height: 232px;
  }
  .card-content {
    padding: 24px;
  }
}
@media screen and (max-width: 767px) {
  .numbers,
  .subscribe-text,
  .mobile-bank,
  .section_offers-swiper {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .tbc-concept {
    padding-bottom: 40px;
    padding-left: 0;
    padding-right: 0;
  }

  .concept-banner {
    border-radius: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .concept-text {
    max-width: 100%;
    align-items: stretch;
  }

  .concept-picture {
    border-radius: 0;
  }

  .subscribe-text p {
    font-size: 28px;
  }

  .bank-div {
    min-height: 0;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .bank-content {
    width: 100%;
    grid-row-gap: 28px;
    align-items: stretch;
  }

  .mobile-btn {
    flex: 1;
    align-items: stretch;
  }

  .mobile-logo {
    width: 24px;
    display: flex;
  }

  .logo {
    display: none;
  }

  .footer-body {
    padding-bottom: 0;
  }

  .footer-table {
    grid-row-gap: 0;
    flex-direction: column;
    /* margin-left: -45px;
    margin-right: -45px; */
    display: flex;
    padding-left: 30px;
  }
  .col-title {
    cursor: pointer;
  }
  .col-title div {
    border-bottom: 1px solid #d1d5d6;
  }
  .col-list {
    display: none;
    border-bottom: 1px solid #d1d5d6;
    margin-bottom: 24px;
  }
  .col-list.open {
    display: flex;
    max-height: 500px;
    opacity: 1;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  }

  .bank-img {
    position: relative;
    align-self: baseline;
    width: inherit;
  }

  .footer-title,
  .footer-body {
    padding-right: 0;
    padding-left: 0;
  }

  .footer-lang,
  .section_offers-swiper {
    padding-right: 30px;
  }
  .footer-logo,
  .section_offers-swiper {
    padding-left: 30px;
  }
  .grid-cards {
    grid-column-gap: 16px;
    margin-left: -45px;
    margin-right: -45px;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .card {
    width: 280px;
    flex: none;
    scroll-snap-align: center;
  }
  .card-long {
    margin-right: 0;
  }
  .bottom-content {
    grid-row-gap: 32px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-links {
    grid-column-gap: 30px;
    order: -1;
  }
}
@media screen and (max-width: 479px) {
  h2 {
    font-size: 14px;
  }

  .numbers,
  .subscribe-text,
  .mobile-bank,
  .section_offers-swiper {
    padding-top: 36px;
    padding-bottom: 36px;
  }

  .tbc-concept {
    padding-bottom: 36px;
  }
  .tbc-concept {
    padding-left: 0;
    padding-right: 0;
  }
  .subscribe-text,
  .mobile-bank,
  .mobile-dropdown,
  .header,
  .footer-body,
  .section_offers-swiper {
    padding-left: 15px;
    padding-right: 15px;
  }

  .concept-content {
    padding: 172px 15px 20px;
  }

  .subscribe-text p {
    font-size: 24px;
  }

  .bank-content {
    grid-row-gap: 24px;
  }

  .full-header {
    grid-column-gap: 24px;
  }
  .grid-cards {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .bottom-content {
    grid-row-gap: 24px;
  }
  /* .footer-table {
    margin-left: -15px;
    margin-right: -15px;
  } */
}
